%h1= "Projeto #{@project.name}"

= render 'side', projects: @projects

.project
  = link_to t('links.add_task'), add_task_project_path(@project), remote: true
  .task-list
  - if @project.tasks.blank?
    = t('strings.project_with_no_tasks')
  - else
    = render @project.tasks

